body{
    background-color: blue;
    width: 30%;
    background-image: url(pao.png)
    
    
    ba
}


#j{

margin-left: 500px;
height: 450px;
width: 400px;
}

.dd
{
    position: absolute;
margin-left: 800px;


}

