.av{
    border-bottom: 5px solid;
    color: black;

 
    display: flex;
    background-color: rgb(195, 133, 0);
    border-bottom: 5px solid;color: black
    }
    
    .a{
    display: flex;
    color: white;
    height: 80px;
    margin-right:18px;
    }
    
    .b{
        display: flex;
        height: 40px;
        width: 50px;
        margin-right:30px;
        margin-top:20px;
        
    }
    
   
    
    .D{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .R{
        display: flex;
        align-items: center;
        margin-left: 400px;
    }
    .E{
        display:flex;
        width: 50px;
        height: 60px;
        margin-left: 500px;

}
        .ss{
            width: 60px;
            height: 50px;
            margin-left:20px;
            
        }

        .dropdown-content{
            display: none;
            position: absolute;
            background-color: rgb(0, 99, 175);
            min-width: 150px;
            box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
        .dropdown-content a{
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display:block;
        }
        .dropdown-content a:hover{
            background-color: rgb(0, 57, 118);
        }
        .dropdown:hover .dropbtn{
            display: block;
        }
        .dropdown:hover .dropdown-content{
            display: block;
        }
        
        .xxx{
            margin-top: 100px;
            font-size: 25px;

        }
    .jj{ 
        display: flex;
        flex-direction: row;
    }

    .mm{
        display: flex;
        color: blue;
    }

 


.z{
    width: 300px;
    height: 300px;
   
}

.y{
    flex-direction: column;
    width: 300px;
    height: 300px;
 
}
 .x{
    width: 300px;
    height: 300px;
   
}
 .zz{
    display: flex;
    
    width: 300px;
    height: 300px;
   
}
 
